In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

# Zillow home value index

In [2]:
zillow_index_sales = pd.read_csv('Zip_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv')
zillow_index_sales.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,2000-01-31,...,2022-04-30,2022-05-31,2022-06-30,2022-07-31,2022-08-31,2022-09-30,2022-10-31,2022-11-30,2022-12-31,2023-01-31
0,91940,0,77449,zip,TX,TX,NaN,"Houston-The Woodlands-Sugar Land, TX",Harris County,111025.364504,...,267031.277605,271167.441993,274949.991267,277857.050380,279379.374979,279571.703469,278978.533186,278001.127045,276453.815200,274671.967839
1,91982,1,77494,zip,TX,TX,NaN,"Houston-The Woodlands-Sugar Land, TX",Fort Bend County,217709.460879,...,460467.367267,467482.802830,473572.893250,477267.065068,477984.861877,476524.002739,474871.543073,473490.978602,471547.993017,469380.296915
2,93144,2,79936,zip,TX,TX,El Paso,"El Paso, TX",El Paso County,93297.846024,...,180425.647045,182618.423967,184808.073687,186768.821493,188315.027071,189360.332747,190107.287314,190872.067470,191400.577159,192365.842160
3,62080,3,11368,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,75454.474440,...,336639.762806,336736.022093,337304.550369,337577.574287,336818.929821,335031.093053,333107.358734,332435.128586,331124.345954,331082.536088
4,62093,4,11385,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,237548.770794,...,743614.071840,750129.456105,757964.299916,763316.251684,764586.578334,761489.401151,758818.529559,756929.158762,753410.376751,750163.629656

In [3]:
zip_codes_with_complaints = pd.read_csv('zip_codes.csv')
zip_codes_with_complaints.head()

   incident_zip  unique_key
0             0           1
1            83         341
2         10000        1149
3         10001       35979
4         10002       79142

In [4]:
columns_zillow = list(zillow_index_sales.columns)
list_zips_311 = list(zip_codes_with_complaints['incident_zip'])
filter_zillow_sales = zillow_index_sales[zillow_index_sales['RegionName'].isin(list_zips_311)]
zillow_melt_sales = pd.melt(filter_zillow_sales, id_vars='RegionName', value_vars=[x for x in columns_zillow if ('201' in x or '202' in x) ])\
            .sort_values(by=['RegionName','variable'])\
            .rename(columns = {'variable':'month'})
zillow_melt_sales['zillow_month'] =  pd.DatetimeIndex(zillow_melt_sales['month']).year.astype('str') + '-' +pd.DatetimeIndex(zillow_melt_sales['month']).month.astype('str').str.zfill(2)
#zillow_melt_sales.drop(columns=('month'), inplace = True)
zillow_melt_sales.rename(columns={'value':'zillow_sales_value_index','month': 'zillow_month_day','RegionName':'zillow_zip'},inplace = True)
zillow_melt_sales.head()

     zillow_zip zillow_month_day  zillow_sales_value_index zillow_month
139       10001       2010-01-31             613892.359651      2010-01
317       10001       2010-02-28             607612.163912      2010-02
495       10001       2010-03-31             604503.832397      2010-03
673       10001       2010-04-30             605535.608025      2010-04
851       10001       2010-05-31             608584.460474      2010-05

In [5]:
zillow_melt_sales.to_csv('zillow_sales_value_index_zip_month.csv')

# Zillow rent index

In [6]:
zillow_index_rent = pd.read_csv('Zip_zori_sm_month.csv')
zillow_index_rent.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,2015-03-31,...,2022-04-30,2022-05-31,2022-06-30,2022-07-31,2022-08-31,2022-09-30,2022-10-31,2022-11-30,2022-12-31,2023-01-31
0,91940,0,77449,zip,TX,TX,NaN,"Houston-The Woodlands-Sugar Land, TX",Harris County,1328.456694,...,1849.717480,1831.473991,1838.869462,1882.316420,1926.351443,1921.750980,1898.745658,1863.467645,1860.010515,1852.405696
1,91982,1,77494,zip,TX,TX,NaN,"Houston-The Woodlands-Sugar Land, TX",Fort Bend County,1559.889116,...,1875.818810,1888.481043,1912.707976,1938.008450,1947.656014,1952.896837,1931.676245,1913.120132,1910.071281,1938.350446
2,93144,2,79936,zip,TX,TX,El Paso,"El Paso, TX",El Paso County,NaN,...,1288.994158,1297.766637,1312.688880,1359.851359,1393.908991,1405.965503,1382.438406,1393.769524,1400.401923,1438.359788
3,62093,4,11385,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,2155.301037,...,2743.739202,2804.811028,2903.246676,2980.607440,3053.127245,3058.235155,3056.748587,3027.272428,2974.360069,2922.226049
4,95992,5,90011,zip,CA,CA,Los Angeles,"Los Angeles-Long Beach-Anaheim, CA",Los Angeles County,NaN,...,NaN,NaN,1791.584605,1794.678304,1852.757859,1868.442226,1916.560685,1920.038550,1889.509994,1899.444444

In [7]:
columns_zillow = list(zillow_index_rent.columns)
list_zips_311 = list(zip_codes_with_complaints['incident_zip'])
filter_zillow_rent = zillow_index_rent[zillow_index_rent['RegionName'].isin(list_zips_311)]
zillow_melt_rent = pd.melt(filter_zillow_rent, id_vars='RegionName', value_vars=[x for x in columns_zillow if ('201' in x or '202' in x) ])\
            .sort_values(by=['RegionName','variable'])\
            .rename(columns = {'variable':'month'})
zillow_melt_rent['zillow_month'] =  pd.DatetimeIndex(zillow_melt_rent['month']).year.astype('str') + '-' +pd.DatetimeIndex(zillow_melt_rent['month']).month.astype('str').str.zfill(2)
#zillow_melt_rent.drop(columns=('month'), inplace = True)
zillow_melt_rent.rename(columns={'value':'zillow_rent_value_index','month': 'zillow_month_day','RegionName':'zillow_zip'},inplace = True)
zillow_melt_rent.head()

     zillow_zip zillow_month_day  zillow_rent_value_index zillow_month
120       10001       2015-03-31              3997.445534      2015-03
262       10001       2015-04-30              4027.333867      2015-04
404       10001       2015-05-31              4085.822080      2015-05
546       10001       2015-06-30              4131.364124      2015-06
688       10001       2015-07-31              4153.720059      2015-07

In [8]:
zillow_melt_rent.to_csv('zillow_rent_value_index_zip_month.csv')