In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

# Zillow home value index

In [2]:
zillow_index_sales = pd.read_csv('Zip_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv')
zillow_index_sales.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,2000-01-31,...,2022-04-30,2022-05-31,2022-06-30,2022-07-31,2022-08-31,2022-09-30,2022-10-31,2022-11-30,2022-12-31,2023-01-31
0,91940,0,77449,zip,TX,TX,NaN,"Houston-The Woodlands-Sugar Land, TX",Harris County,111025.364504,...,267031.277605,271167.441993,274949.991267,277857.050380,279379.374979,279571.703469,278978.533186,278001.127045,276453.815200,274671.967839
1,91982,1,77494,zip,TX,TX,NaN,"Houston-The Woodlands-Sugar Land, TX",Fort Bend County,217709.460879,...,460467.367267,467482.802830,473572.893250,477267.065068,477984.861877,476524.002739,474871.543073,473490.978602,471547.993017,469380.296915
2,93144,2,79936,zip,TX,TX,El Paso,"El Paso, TX",El Paso County,93297.846024,...,180425.647045,182618.423967,184808.073687,186768.821493,188315.027071,189360.332747,190107.287314,190872.067470,191400.577159,192365.842160
3,62080,3,11368,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,75454.474440,...,336639.762806,336736.022093,337304.550369,337577.574287,336818.929821,335031.093053,333107.358734,332435.128586,331124.345954,331082.536088
4,62093,4,11385,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,237548.770794,...,743614.071840,750129.456105,757964.299916,763316.251684,764586.578334,761489.401151,758818.529559,756929.158762,753410.376751,750163.629656

In [3]:
zip_codes_with_complaints = pd.read_csv('zip_codes.csv')
zip_codes_with_complaints.head()

   incident_zip  unique_key
0             0           1
1            83         341
2         10000        1149
3         10001       35979
4         10002       79142

In [4]:
columns_zillow = list(zillow_index_sales.columns)
list_zips_311 = list(zip_codes_with_complaints['incident_zip'])
filter_zillow_sales = zillow_index_sales[zillow_index_sales['RegionName'].isin(list_zips_311)]
zillow_melt_sales = pd.melt(filter_zillow_sales, id_vars='RegionName', value_vars=[x for x in columns_zillow if ('201' in x or '202' in x) ])\
            .sort_values(by=['RegionName','variable'])\
            .rename(columns = {'variable':'month'})
zillow_melt_sales['zillow_month'] =  pd.DatetimeIndex(zillow_melt_sales['month']).year.astype('str') + '-' +pd.DatetimeIndex(zillow_melt_sales['month']).month.astype('str').str.zfill(2)
#zillow_melt_sales.drop(columns=('month'), inplace = True)
zillow_melt_sales.rename(columns={'value':'zillow_sales_value_index','month': 'zillow_month_day','RegionName':'zillow_zip'},inplace = True)
zillow_melt_sales.head()

     zillow_zip zillow_month_day  zillow_sales_value_index zillow_month
139       10001       2010-01-31             613892.359651      2010-01
317       10001       2010-02-28             607612.163912      2010-02
495       10001       2010-03-31             604503.832397      2010-03
673       10001       2010-04-30             605535.608025      2010-04
851       10001       2010-05-31             608584.460474      2010-05

In [5]:
zillow_melt_sales.to_csv('zillow_sales_value_index_zip_month.csv')

# Zillow rent index

In [4]:
zillow_index_rent = pd.read_csv('Zip_zori_sm_month_cleaned.csv')
zillow_index_rent.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,3/31/2015,...,4/30/2022,5/31/2022,6/30/2022,7/31/2022,8/31/2022,9/30/2022,10/31/2022,11/30/2022,12/31/2022,1/31/2023
0,62093.0,4.0,11385,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,2155.301037,...,2743.739202,2804.811028,2903.246676,2980.607440,3053.127245,3058.235155,3056.748587,3027.272428,2974.360069,2922.226049
1,62046.0,11.0,11236,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Kings County,1760.906084,...,1773.777106,1870.860205,1779.962669,2000.954851,2107.998802,2347.644435,2437.882926,2452.738865,2427.631148,2306.944444
2,62019.0,14.0,11208,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Kings County,1697.735551,...,2409.607517,2431.415190,2476.598011,2497.057391,2465.628304,2432.907631,2467.049204,2544.416853,2591.598107,2658.986111
3,61807.0,15.0,10467,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Bronx County,1383.923519,...,2043.523054,2005.716122,1961.142762,2016.897001,2098.754079,2143.432684,2085.885229,2039.905478,2063.064867,1974.017857
4,62037.0,16.0,11226,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Kings County,1983.451860,...,2477.670029,2526.033675,2587.324318,2614.896560,2613.466975,2627.075852,2622.100703,2625.398408,2578.400968,2575.152077

In [5]:
columns_zillow = list(zillow_index_rent.columns)
list_zips_311 = list(zip_codes_with_complaints['incident_zip'])
filter_zillow_rent = zillow_index_rent[zillow_index_rent['RegionName'].isin(list_zips_311)]
zillow_melt_rent = pd.melt(filter_zillow_rent, id_vars='RegionName', value_vars=[x for x in columns_zillow if ('201' in x or '202' in x) ])\
            .sort_values(by=['RegionName','variable'])\
            .rename(columns = {'variable':'month'})
zillow_melt_rent['zillow_month'] =  pd.DatetimeIndex(zillow_melt_rent['month']).year.astype('str') + '-' +pd.DatetimeIndex(zillow_melt_rent['month']).month.astype('str').str.zfill(2)
#zillow_melt_rent.drop(columns=('month'), inplace = True)
zillow_melt_rent.rename(columns={'value':'zillow_rent_value_index','month': 'zillow_month_day','RegionName':'zillow_zip'},inplace = True)
zillow_melt_rent.head()

       zillow_zip zillow_month_day zillow_rent_value_index zillow_month
2141        10000        1/31/2016                  2833.6      2016-01
4541        10000        1/31/2017                  2820.8      2017-01
6941        10000        1/31/2018                  2859.2      2018-01
9341        10000        1/31/2019                    2927      2019-01
11741       10000        1/31/2020                  3016.4      2020-01

In [7]:
zillow_melt_rent.to_csv('zillow_rent_value_index_zip_month_cleaned.csv')